<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body class="min-h-screen">
        <div>
            <h1 class=" text-6xl sm:text-7xl md:text-9xl font-extrabold text-slate-900 tracking-tight px-4 py-2">How much Calories a Day?</h1>
            <h3 class=" text-3xl text-slate-500 px-4 py-2 mt-4">Enter what you ate for:</h3>
            <h3 class=" text-3xl text-slate-500 px-4 py-2">- Breakfast </h3>
            <h3 class=" text-3xl text-slate-500 px-4 py-2">- Lunch</h3>
            <h3 class=" text-3xl text-slate-500 px-4 py-2">- Dinner</h3>
            <h3 class=" text-3xl text-slate-500 px-4 py-2">- Get <span class="font-bold text-[#C2B280] ">AI powered Calorie breakdown</span> and nutritional contents.</h3>
            
            <form method="post">
                <div class="max-w-md mx-auto px-5 py-10 w-full">
                    <textarea name="food_text" required placeholder="Ex : 3 Dosas with a cup of Sambhar for breakfast, 1 Chicken Briyani for lunch and 3 Rotis with Dhal for dinner" class=" bg-gray-200 rounded-xl w-full max-w-2xl h-32 p-4 border border-slate-300 
             shadow-sm transition-all duration-200 resize-none
             focus:ring-4 focus:ring-blue-100 focus:border-blue-500 focus:outline-none"></textarea>
                </div>

                <div class="max-w-md mx-auto px-20 py-5 w-full">
                    <button type="submit" class=" rounded-lg bg-[#C2B280] hover:bg-[#B4A26F] text-white px-5 py-2">Calculate the Calories</button>
                </div>
            </form>
        </div>
    </body>
</html>